@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #1a202c;
    --secondary-color: #2d3748;
    /* ... define other dark mode colors */
}

[data-theme="light"] {
    --primary-color: #ffffff;
    --secondary-color: #f7fafc;
    /* ... define other light mode colors */
}


.StripeElement,
.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
    display: block;
    margin: 10px 0 20px 0;
    max-width: 500px;
    padding: 10px 14px;
    box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
        rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
    border-radius: 4px;
    background: white;
}

.StripeElement--focus,
.StripeElementIdeal--focus,
.StripeElementP24--focus,
.StripeElementEPS--focus,
.StripeElementFpx--focus {
    box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
        rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
}

.StripeElement.loading {
    height: 41.6px;
    opacity: 0.6;
}

.StripeElementIdeal,
.StripeElementP24,
.StripeElementEPS,
.StripeElementFpx {
    padding: 0;
}
.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading-list {
    list-style: none;
    padding: 0;
    display: flex;
}

.loading-item {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    border-radius: 50%;
}

.loading-item-0 {
    background-color: #7c3939;
    /* Red */
}

.loading-item-1 {
    background-color: #101010;
    /* Green */
}

.loading-item-2 {
    background-color: #f405c4;
    /* Blue */
}

.loading-item-3 {
    background-color: #02f92f;
    /* Yellow */
}